@use '../../../assets/styles/size' as *;
.honeycomb {
    display: grid;
    gap: 1%;
}

@media (min-width: 768px) {
    .cells_small {
        backdrop-filter: blur(25px);
        mask-image: radial-gradient(circle, black 50%, transparent 100%);
    }
}

@media (max-width: 991px) {
    .honeycomb {
    grid-auto-rows: min-content;
    grid-template-columns: 80%;
        justify-content: center;
    }

    .cells_small {

    }
}

.honeycomb_block {
    background-image: url("/img/i.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}

.honeycomb_info {
    background: #4c5eb6bf;
    border-radius: 25px;
}

.background {
    max-width: 100%;
}

.poligon {
    mask-image: url(https://mdn.github.io/shared-assets/images/examples/mdn.svg);
}

.cells_small {
    display: flex;
    justify-content: center;
    padding: fluid-size(20, 50);
}

.rect {
    transition: fill 0.3s ease;
}

.rect:hover {
    fill: #c62980;
}

.frontend {
    fill: #5fb7a0;
}

.backend {
    fill: #f39c6b;
}

.tools {
    fill: #c278b4;
}

.devops {
    fill: #6d9ee6;
}

.text {
    font: bold 20px sans-serif;
    fill: white;
}

.cells_header {
    font: bold 40px sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cells-header-color);
}

.cells_label {
    color: white;
    font-size: 15px;
    font-weight: 600;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell_text {
    border-radius: 35px;
}

.image_info {
    display: grid;
      place-items: center;
      height: 100%;
}
