.Progress {
    padding-block: 50px;
}

.MainBar-static {
    background: linear-gradient(
        to right,
        var(--main-color-1),
        var(--main-color-2)
    );
}

.checkbox-container-static input[type="checkbox"]:checked {
    background-color: #45539a !important;
    border-color: #45539a !important;
}
